body {
  max-width: 800px;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 40px;
  margin: 0 auto;
  font-family: "Roboto", "Lato", sans-serif;
  background-color: #fffff8;
  line-height: 1.35;
}

a:link {
  color: #a00000;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #aa0000;
  background-color: transparent;
  text-decoration: none;
}

.accordion-button:not(.collapsed) {
  color: #a00000;
  background-color: #b4181818;
}

.accordion-button:focus {
  border-color: #ff4444;
  box-shadow: 0 0 0 0.25rem rgba(53, 11, 13, 0.25);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(180deg);
  }

.list-group-item {
  background-color: #fffff8;
}

.btn-danger {
  color: #a00000;
}

.btn-outline-danger {
  color: #a00000;
  border-color: #a00000;
}